.page-header{
	background-color: #66B2FF;
	position : fixed;
	width: 100%;
	z-index: 1;
	margin-top: 0;
	top : 0;
}

.page-footer{
	background-color: #66B2FF;
	margin-top: 20%;
	width: 100%;
	z-index: 1;
	margin-bottom: 0;
	bottom: 0;

}

#main{
	margin-top: 250px;
}

#header_button{
	height: 75px;
	width: 150px;
}