.title1{
color: white; 
margin-top: 20px;

}

.title2{
color: black; 
font-weight: bold; 
font-size: 18px;
text-align: center;

}

.text_connection{
	color: white;
	font-size: 18px;
}

.button_text1{
	color: white;
}



.button_header{
	width: 180px;
	height: 90px;
	background: #333333;
	margin-top: 50px;
}

.button_header:hover{
	background: green;
}

.social{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
}

.imgBodyAccueil{
	margin-top: 20px;
	margin-bottom: 20px;

}






	
