/* partie speciale test */
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.colorNavig {
	background-color: #66B2FF !important;
}

.navBlocks{
	margin-left: 100px;
}
/* vrai partie */

.title1{
color: white; 
margin-top: 20px;

}

.title2{
color: black; 
font-weight: bold; 
font-size: 18px;
text-align: center;

}

.text_connection{
	color: white;
	font-size: 18px;
}

.button_text1{
	color: white;
}



.button_header{
	width: 120px;
	height: 60px;
	background: #333333;
	
}

.button_header:hover{
	background: green;
}

.social{
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 10px;
}

.imgBodyAccueil{
	margin-top: 20px;
	margin-bottom: 20px;

}






	
