body {
  padding-top: 5rem;
  font-size: 100px;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

.colorNavig {
	background-color: #66B2FF !important;
	font-size: 100px !important;
}
