.page-header{
	background-color: #66B2FF;
	position : fixed;
	width: 100%;
	z-index: 1;
	margin-top: 0;
	top : 0;
}

.page-footer{
	background-color: #66B2FF;
	margin-top: 20%;
	min-height: 200px;

}

#main{
	margin-top: 250px;
}
